h1 img{
    width: 50px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container ul{
    display: flex;
    
    
}
ul li{
    list-style: none;
    padding-left: 20px;
}

